/* responsive */
body {
  width: 95%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* if screen width >= 768 px, make the body skinnier so it's easier to read*/
@media only screen and (min-width: 768px) {
  body {
    max-width: 60% !important;
  }
}

* {
  box-sizing: border-box;
}

/* dark mode*/
:root.dark {
  --base-bg: #161923;
  --base-text-color: #bbb9c6;
  --base-link-color: #8ff0a4;
}

:root.light {
  --base-bg: white;
  --base-text-color: black;
  --base-link-color: blue;
}

body {
  background: var(--base-bg);
  /* color: #E8BD94; */
  color: var(--base-text-color);
  line-height: 1.5;
}

a:link,
a:visited {
  color: var(--base-link-color, blue);
}

/* Theme Switch button */
#icon--theme-switch {
  max-width: 30px;
  cursor: pointer;
}

#svg--theme-switch-color {
  fill: var(--base-text-color, #24283b);
}
